
.text-center{
	text-align: center;
}

.text-justify{
	text-align: justify;
}

.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.dummy{
	clear:both;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.float{
	float: left;
}


.box{
	width: 40%;
	box-shadow: 7px 7px 7px #000000;
	padding:1%;
}

.icon{
	width:  100px;
	height: 100px;
}

body {
        font-family: 'Lato', serif;
      }

#closeup{
	width: 	187.5px;
	height: 198px 
}

p,h2,h4,li,.box,.icon{
	margin:2%;
}

#identity{
	background-color: #428bca;
}

#contact{
	background-color: #5cb85c;
}

#skills{
	background-color: #f0ad4e;
}

#projects{
	background-color: #5bc0de;
}

#interests{
	background-color: #d9534f;
	margin-left: auto;
	margin-right: auto;
}	