/*main*/
.icon {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

p {
  text-align: justify;
}

.section-heading {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-heading:before,
.section-heading:after {
  flex-grow: 1;
  height: 5px;
  content: '\a0';
  background-color: #ddd;
  position: relative;
  top: 0.5em;
 	margin-left: 10px;
}

.section-heading:before{
	margin-right: 10px;
}

.section-heading:after{
	margin-right: 10px;
}

#education .section-heading:before,
#education .section-heading:after{
  background-color: #ffd180;
}

#experience .section-heading:before,
#experience .section-heading:after{
  background-color: #b388ff;
}

#skills .section-heading:before,
#skills .section-heading:after{
  background-color: #b9f6ca;
}

#projects .section-heading:before,
#projects .section-heading:after{
  background-color: #80d8ff;
}

#timeline .section-heading:before,
#timeline .section-heading:after{
  background-color: #ff8a80;
}

.heading-icon {
	font-size: 1em;
}

.flex-list {
    position: relative;
    overflow: hidden;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
}
.flex-list li {
    flex-basis: auto;
    padding: 0 1em;
    border-left: 1px solid #ccc;
    background-color: #fff;
}
